.dashCont {
   background-color: -webkit-linear-gradient(to right, #f5af19, #f12711);
   
 
}


.labelcont{
    width: 2px;

}
.depo{
    height: 30px;
   
}
.welcome{
  
    text-align: center;
}
.userpro{
    text-align: center;
}