.nav-container{
    height: 100px;
    position: relative;
}

#bank-name{
    position: absolute;
    padding-top: 25px;
    padding-left: 50px;

    /*Font*/
    font-size: 2rem;
    color: white;

    /*Spacing*/
    letter-spacing: 0.3rem;

}