.login {
    width: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: 2px ;
    padding: 20px;
}

.textlogin {
    text-align: center;
    margin-bottom: 100px;
}

.user {
    height: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right:auto;
    background-color: #f0e8e8;
    width: 25%;
    border-radius: 25px;
    padding: 8px;
    padding-left: 15px;
}

.login-button {
    background: #b66a7d; 
    width: 10%;
    margin-left: auto;
    margin-right:auto;
    border-color: #02040F;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 400;
    padding: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-button:hover {
    cursor: pointer;
}

.disclaimer{
    margin-left: auto;
    margin-right:auto;
    margin-top: 10%;
   font-size: x-small;
}

input{
    border-style: hidden;
    width: stretch;
}
